@using Veneer.Client.Web.Extensions
@using Veneer.Contracts.Enums
@model Veneer.Client.Web.Models.SiteStructure
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("_Styles")
    @Html.Partial("_Scripts")
</head>
<body class="main">
    
        @Html.Content(Model, ContentTypes.Intranet_Header)

        @RenderBody()

        @Html.Content(Model, ContentTypes.Intranet_FatFooter)
        @Html.Content(Model, ContentTypes.Intranet_ThinFooter)
    
</body>
</html>
